/* Body */
body {
  font-family: 'Nunito Sans', sans-serif;
}

/* filtering */
.filter {
  margin-bottom: 10px;
}

.filter_container {
  margin-top: 10px;
}

.filter_title {
  margin-top: 8px;
  float: left;
  font-size: 11px;
}

#left_filter {
  width: 95%;
  max-width: 700px;
  padding-top: 7px;
  padding-bottom: 2px;
}

#right_filter {
  width: 95%;
  max-width: 700px;
  padding-top: 7px;
  padding-bottom: 2px;
}

.panel {
  background-color: #F4F4F4;
}

.filter input {
  margin-right: 4px !important;
  float: left;
}

.filter label {
  font-size: 11px;
  float: left;
}

.filter div {
  padding-right: 0;
}

#left_filter {
  margin-left: 102px;
}

#right_filter {
  margin-left: 102px;
}

#left_filter div {
  margin-left: 4px;
}

#right_filter div {
  margin-left: 4px;
}

/*.sm {
  width: 120px;
}

.xxs {
  width: 70px;
}

.xs {
  width: 100px;
}

.lg {
  width: 150px;
}*/

/* end filtering */
#map {
    height: 60vh;
}

.infoSection {
  float: left;
  width: 30%;
  height: 600px;
}

.theMap {
  width: 100%;
  position: relative;
}

.thumbnail {
  position: relative;
}

.background-image {
  opacity: .9;
}

.caption {
  position: absolute;
  top: 24%;
  left: 0;
  width: 100%;
}


.navbar-brand{
  font-family: 'Bad Script', cursive;
  font-size: 23px;
}
.nav{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
}
h1{
  font-family: 'Bad Script', cursive;
    font-size: 70px;
    font-weight: bold;
    color: #fafafa;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}
h3{
  font-family: 'Bad Script', cursive;
  font-size: 32px;
  color: #323232;
}

#firstpage img {
  width: 100%;
  height: 100vh;
}

/* Map Section */

#mapfeature {
  padding-top: 50px;
  height: 100vh;
}

/* Facts Section */

#facts {
  padding-top: 70px;
  height: 100vh;
}


/* footer */
footer {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  height: 100px;
  width: 100%;
  background-color: #323232;
}

footer .center {
  float: center;
  line-height: 90px;
  color: white;
}

/* Locations Sidebar */
#locations-list {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#saved-list {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Tab Style (Credit to Bootstrap example) */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#saved-list {
  display: none;
}


/*Fun facts section */
.factsheader {
  padding-bottom: 20px;
}

.border-right {
  border-right: 1px solid #323232;
}
.history-column img {
  width: 300px;
  height: 147px;
}
.attraction-column img {
  width: 300px;
  height: 150px;
}
.beaches-column img {
  width: 300px;
  height: 150px;
}

.column-info {
  text-align: left;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  color: #323232 !important;
}

.factsfooter {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* takes out unnecessary outline */
.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
}
:focus {
  outline: none!important;
}
/*search bar*/
.searchbar{
  margin-left: 16%;
  width: 320px;
}

.searchbtn{
  margin-left: 10%;
}


#locations-list button {
  margin: 0 5px;
}

#saved-list button {
  margin: 0 5px;
}

.search-bar{
  margin-bottom: 5%;
  margin-left: 5%;
}
#search-criteria{
  width:80%;
}

.randomsearchbtn{
  background-color: #3687d8;
  color: #fff;
  border-color: #237fef;
  margin-left: 8%;
  transition-duration: 0.4s;
  width: 46%;
  height: 40px;
  font-size: 22px;
}

.randomsearchbtn: hover{
  background-color: #fff;
  color: #3687d8;
  border-color: #237fef;
}
