.filter {
  margin-bottom: 10px;
}

#left_title {
  float: left;
  margin-left: 20%;
}

#right_title {
  float: right;
  margin-right: 23%;
}

#left_filter {
  padding-top: 7px;
  padding-bottom: 7px;
  float: left;
  width: 49%;
}

#right_filter {
  padding-top: 7px;
  padding-bottom: 7px;
  float: right;
  margin-right: 8%;
  width: 43%;
}

.container {
  max-width: 900px;
  margin-left: 3%;
}

.panel {
  background-color: #F4F4F4;
}

.filter input {
  margin-right: 3px !important;
  float: left;
}

.filter label {
  float: left;
}


#map {
    height: 600px;
}

.infoSection {
  float: left;
  width: 30%;
  height: 600px;
}

.theMap {
  width: 100%;
  position: relative;
}

.thumbnail {
  position: relative;
}

.background-image {
  opacity: .8;
}

.caption {
  position: absolute;
  top: 24%;
  left: 0;
  width: 100%;
}


.navbar-brand{
  font-family: 'Bad Script', cursive;
  font-size: 23px;
}
.nav{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
}
h1{
  font-family: 'Bad Script', cursive;
    font-size: 70px;
    font-weight: bold;
    color: #fafafa;
}
h3{
  font-family: 'Bad Script', cursive;
  font-size: 32px;
  color: #323232;
}

#firstpage, img {
  width: 100%;
  height: 100%;
}

#mapfeature {
  padding-top: 50px;
}

.footer {
  background: #323232;
  min-height: 150px;
  color: #fff;
  text-align: center;
}

/* Locations Sidebar */
#locations-list {
  height: 800px;
  overflow: scroll;
}

/* Tab Style (Credit to Bootstrap example) */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
