.filter {
  margin-bottom: 10px;
}

.filter_title {
  padding-left: 0;
  padding-right: 0;
  width: 420px;
}

#filter_title_right {
  padding-left: 120px;
}

#left_filter {
  padding-top: 7px;
  padding-bottom: 7px;
  float: left;
  width: 49%;
}

#right_filter {
  padding-top: 7px;
  padding-bottom: 7px;
  float: right;
  width: 420px;
}

.container {
  margin-top: 10px;
  max-width: 900px;
}

.panel {
  background-color: #F4F4F4;
}

.filter input {
  margin-right: 3px !important;
  float: left;
}

.filter label {
  float: left;
}


#map {
    height: 600px;
}

.infoSection {
  float: left;
  width: 30%;
  height: 600px;
}

.theMap {
  width: 100%;
  position: relative;
}

.thumbnail {
  position: relative;
}

.background-image {
  opacity: .8;
}

.caption {
  position: absolute;
  top: 24%;
  left: 0;
  width: 100%;
}


.navbar-brand{
  font-family: 'Bad Script', cursive;
  font-size: 23px;
}
.nav{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
}
h1{
  font-family: 'Bad Script', cursive;
    font-size: 70px;
    font-weight: bold;
    color: #fafafa;
}
h3{
  font-family: 'Bad Script', cursive;
  font-size: 32px;
  color: #323232;
}

#firstpage, img {
  width: 100%;
  height: 100%;
}

#mapfeature {
  padding-top: 50px;
}

#facts {
  padding-top: 70px;
}


/* footer */
footer {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  height: 100px;
  width: 100%;
  background-color: #323232;
}

footer .center {
  float: center;
  line-height: 90px;
  color: white;
}

/* Locations Sidebar */
#locations-list {
  height: 800px;
  overflow: scroll;
}

#saved-list {
  height: 800px;
  overflow: scroll;
}

/* Tab Style (Credit to Bootstrap example) */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#saved-list {
  display: none;
}


/*Fun facts section */
.factsheader {
  padding-bottom: 20px;
}

.border-right {
  border-right: 1px solid #323232;
}
.history-column img {
  width: 300px;
  height: 147px;
}
.attraction-column img {
  width: 300px;
  height: 150px;
}
.beaches-column img {
  width: 300px;
  height: 150px;
}

.column-info {
  text-align: left;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  color: #323232 !important;
}

.factsfooter {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* takes out unnecessary outline */
.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
}
:focus {
  outline: none!important;
}
/*search bar*/
.searchbar{
  margin-left: 16%;
  width: 320px;
}

.searchbtn{
  margin-left: 10%;
}


#locations-list button {
  margin: 0 5px;
}

#saved-list button {
  margin: 0 5px;
}
