html, body {
  height: 100%;
}

#map {
    height: 600px;
}

.infoSection {
  float: left;
  width: 30%;
  height: 600px;
}

.theMap {
  width: 100%;
  position: relative;
}

#firstpage, img {
  width: 100%;
  height: 100%;
}
