.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.panel {
  background-color: #F4F4F4;
}

.filter label {
  padding-left: 65px;
  float: left;
}

.filter input {
  margin-right: 8px !important;
}

#filterBox {
  padding-top: 20px;
  padding-bottom: 20px;
}


#map {
    height: 600px;
}

.infoSection {
  float: left;
  width: 30%;
  height: 600px;
}

.theMap {
  width: 100%;
  position: relative;
}

.thumbnail {
  position: relative;
}

.background-image {
  opacity: .8;
}

.caption {
  position: absolute;
  top: 24%;
  left: 0;
  width: 100%;
}


.navbar-brand{
  font-family: 'Bad Script', cursive;
  font-size: 23px;
}
.nav{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
}
h1{
  font-family: 'Bad Script', cursive;
    font-size: 70px;
    font-weight: bold;
    color: #fafafa;
}
h3{
  font-family: 'Bad Script', cursive;
  font-size: 32px;
  color: #323232;
}

#firstpage, img {
  width: 100%;
  height: 100%;
}

#mapfeature {
  padding-top: 50px;
}

.footer {
  background: #323232;
  min-height: 150px;
  color: #fff;
  text-align: center;
}
